<div class="well">
	<figure class="personaje">
	  <%= image_tag "person.png" %>
	  <div role="alert" class="alert alert-danger">
      	<strong>No</strong> hay mas amig@s cerca....
      </div>
	  
	</figure>
</div>